@import './config/media-breakpoints';
@import './config/fonts';
@import './config/reset';
@import './config/vars';

body {
  font-family: Effra;
  background-color: $background;
  color: $fontColorTitleBlack;
  font-size: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $containerWidth;

  @include media-breakpoint-down(sm) {
    padding: 0 20px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page {
  flex: 1 1 auto;
  margin-top: 70px;
}

